<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441545568945-70eo977pumgrsvudhf7leniervn2rjm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441545568945-70eo977pumgrsvudhf7leniervn2rjm0</string>
	<key>API_KEY</key>
	<string>AIzaSyDoEQ8g7_RvfdzWxCBPH1vtJnbY_RqtbKU</string>
	<key>GCM_SENDER_ID</key>
	<string>441545568945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.DeFiSample1</string>
	<key>PROJECT_ID</key>
	<string>defi-54217</string>
	<key>STORAGE_BUCKET</key>
	<string>defi-54217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441545568945:ios:e6d00049ac3cbdc451a890</string>
</dict>
</plist>